.DS_Store
*.vsd
*.~vsd
*.xlsx
*.lnk
*.ini
*.png
*.code-workspace
*.html
*.pt
*.json
*.local
*.out
*.pth
*.gif
*.tfevents.*
*.pyc

.vscode
__pycache__
dataset
_tmp/
_Old/

templete_pytorch/results/*
!templete_pytorch/dataset

GAN_RGAN_PyTorch/train_all.sh
GAN_WGAN_PyTorch/train2.py
GAN_WGAN_PyTorch/train2.sh
GAN_Pix2PixHD_PyTorch/_old/with_feature_matching_loss.md
GAN_Pix2PixHD_PyTorch/_old/without_feature_matching_loss.md

run_docker.sh


